<div id="pieChart"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<%= stylesheet_link_tag 'd3pie.min', media: 'all' %>
<script>
var pie = new d3pie("pieChart", {
	"header": {
		"title": {
			"text": "Breakdown of Food Donations",
			"fontSize": 24,
			"font": "open sans"
		}
	},
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "bottom-left"
	},
	"size": {
		"canvasWidth": 590
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			<% FoodGroup.all.each do |group| %>
				{
					"label": "<%= group.category %>",
					"value": <%= group.weight %>,
					"color": "#<%= colour = "%06x" % (rand * 0xffffff) %>"
				}
				<% if group != FoodGroup.last %>,<% end %>
			<% end %>
		]
	},
	"labels": {
		"outer": {
			"format": "none"
		},
		"inner": {
			"format": "label-percentage2",
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"color": "#ffffff",
			"fontSize": 11
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#ffffff",
			"fontSize": 11
		}
	},
	"effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 400,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>