<div class = "wrapp">
  <div class="row">
    <div class="col-md-6">
      <% @top_teams.each do |team| %>
        <p><%= team.name %>: <%= team.current_weight %> lbs</p>
      <% end %>
    </div>
    <div class="col-md-6">
      <% @top_users.each do |user| %>
        <p><%= user.full_name %>: <%= user.current_weight %> lbs</p>
      <% end %>
    </div>
  </div>
</div>