<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @team.name %>:</p>
    <p>
      <%= @body %>
    </p>
    <p>
      All the best,
    </p>
    <h4><%= @user.full_name %></h4>
    <p> Sent via Food Drive Central, a food drive organization application. </p>
  </body>
</html>