<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FoodDriveCentral.com, <%= @user.full_name %></h1>
    <p>
      You have successfully signed up to FoodDriveCentral.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day! Make sure to eat your beans.</p>
  </body>
</html>