<div class="wrapp">
  <h1>Help Page</h1>
</div>

  <div class="wrapp"><!-- Start Sign Up -->
    <div class="step">
      <div class="col-md-6">
        <h3>First Sign Up!</h3>
          <p>Lorem ipsum and all that stuff, speaking of which, when are we going to get that TV you promissed, Huh Johnny! When!</p>
      </div> 
    </div> 
  </div><!-- End Sign up row -->

  <div class="wrapp"><!-- Start Join -->
    <div class="step">     
      <div class="col-md-6">
        <h3>Join a Team!</h3>
          <p>Lorem ipsum and all that stuff, speaking of which, when are we going to get that TV you promissed, Huh Johnny! When!</p>
      </div>    
    </div> 
  </div><!-- End Sign Join-->

  <div class="wrapp"><!-- Start Create Team -->
    <div class="step">      
      <div class="col-md-6">
        <h3>Start a Team!</h3>
          <p>Lorem ipsum and all that stuff, speaking of which, when are we going to get that TV you promissed, Huh Johnny! When!</p>
      </div>      
    </div> 
  </div><!-- End Create Team -->
