<div class="wrapp">
  <h1>Help Page</h1>
</div>

  <div class="wrapp"><!-- Start Sign Up -->
    <div class="step">
      <h3>Getting Started</h3>
      <h4>Thanks for your interest in our site. Here is how to get started:</h4>
        <ul> 
          <li>Sign Up! To do so click on the sign-in button on the top right and then select the Sign-Up button</li>
          <li>Once you sign in you will be taken to your profile page or if you followed a link to a team then you will be taken to the team page</li>
          <li>Click on Edit your photos on your profile page to change your profile picture by adding a link to a picture of yourself or change the background photo by selecting a new option</li>
        <ul>
    </div> 
  </div><!-- End Sign up row -->

  <div class="wrapp"><!-- Start Join -->
    <div class="step"> 
      <h3>Join and Donate!</h3>
        <h4>So now that you are set up you need to join a team: </h4>  
          <ul>
            <li>On your profile page scroll to the bottom of the page select the team you wan tto join, and click the "Join an Existing Team" button</li>
            <li>On the team page click on the "Join this Team" button underneath the Team Info and you will be added to the team</li>
            <li>Once you have joined a team it will show up on your profile page</li>
              <li>Once you have dropped off your food at the team dropoff point you can log your donated food by clicking the "Log Donated Food" button</li>
              <li>Once logged your Team Leader will verify the food and it will be added to the team total</li>
          </ul>      
    </div> 
  </div><!-- End Sign Join-->

  <div class="wrapp"><!-- Start Create Team -->
    <div class="step">            
      <h3>Starting a Team!</h3>
        <h4>So you want to start your own food drive?</h4>
          <ul>
            <li>On your profile page click on the "Create a Team" under the list of your current teams</li>
            <li>Fill out the create a new team form and click "Create Team"</li>
            <li>You will be taken to a preview page on which you can choose to send an e-mail to <a href="http://www.cityharvest.org/">City Harvest</a> an organization that will pick up your donations and distribut them to those in need</li> 
          </ul>       
    </div> 
  </div><!-- End Create Team -->
