//= depend_on_asset "heart.jpg"
//= depend_on_asset "autumn.jpeg"
//= depend_on_asset "sunrise.jpg"
//= depend_on_asset "orange.jpeg"
//= depend_on_asset "mountain.jpeg"
//= depend_on_asset "city.jpg"

body {
	background: image-url("sunrise.jpg") no-repeat fixed center;
	background-size: 100%;
	text-align: center;
}

body.heart {
	background: image-url("heart.jpg") no-repeat fixed center;
}

body.autumn {
	background: image-url("autumn.jpeg") no-repeat fixed center;
}

body.sunrise {
	background: image-url("sunrise.jpg") no-repeat fixed center;
}

body.orange {
	background: image-url("orange.jpeg") no-repeat fixed center;
}

body.mountain {
	background: image-url("mountain.jpeg") no-repeat fixed center;
}

body.city {
	background: image-url("city.jpg") no-repeat fixed center;
}

a {
	color: #372224;
}

a:hover {
	color: #4D230D;
}

h1 {
	font-weight: 700;
}

.img-thumbnail{
	height: 150px;
}

.list-group{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.nav-tabs {
	margin: 2%;
	margin-bottom: 0;
}

.panel-default {
	background-color: rgba(255, 255, 255, .8);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.well {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.wrapp {
	background-color: rgba(255, 255, 255, .8);
	margin: 3% auto;
	width: 60%;
	padding: 2%;
}

#profilebox{
	margin-bottom: 2%;
}

#teambox{
	text-align: right;
}

#teamphoto{
	text-align: left;
}

#username {
	text-align: right;
}

#userphoto {
	text-align: left;
}