// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.step{
  background-color: rgba(156, 156, 156, .8);
  padding: 1%;
  margin: 2%;
  padding-bottom: 4%;
  color: #F6F6F6;
}